$arrow-continuous-value: "\E001";
$arrow-down-value: "\E002";
$arrow-left-value: "\E003";
$arrow-right-value: "\E004";
$arrow-thin-left-value: "\E005";
$arrow-thin-right-value: "\E006";
$book-text-value: "\E007";
$book-value: "\E008";
$check-value: "\E009";
$circle-three-value: "\E00A";
$cirlcle-one-open-value: "\E00B";
$cloud-pen-value: "\E00C";
$cloud-question-mark-value: "\E00D";
$cloud-text-value: "\E00E";
$cog-value: "\E00F";
$cross-thick-value: "\E010";
$cross-thin-value: "\E011";
$curly-left-value: "\E012";
$curly-right-value: "\E013";
$document-plus-value: "\E014";
$documents-value: "\E015";
$dotted-line-value: "\E016";
$eraser-value: "\E017";
$eye-value: "\E018";
$flask-value: "\E019";
$info-value: "\E01A";
$is-value: "\E01B";
$keyboard-arrow-down-value: "\E01C";
$keyboard-arrow-left-value: "\E01D";
$keyboard-arrow-right-value: "\E01E";
$keyboard-arrow-up-value: "\E01F";
$keyboard-backspace-value: "\E020";
$keyboard-close-value: "\E021";
$keyboard-equals-value: "\E022";
$keyboard-exponent-value: "\E023";
$keyboard-fraction-value: "\E024";
$keyboard-greater-than-or-equal-value: "\E025";
$keyboard-greater-than-value: "\E026";
$keyboard-less-than-or-equal-value: "\E027";
$keyboard-less-than-value: "\E028";
$keyboard-minus-value: "\E029";
$keyboard-multiply-value: "\E02A";
$keyboard-pi-value: "\E02B";
$keyboard-plus-value: "\E02C";
$keyboard-square-root-value: "\E02D";
$keyboard-x-value: "\E02E";
$label-shade-value: "\E02F";
$label-value: "\E030";
$less-then-value: "\E031";
$lightbulb-value: "\E032";
$math-elements-value: "\E033";
$menu-value: "\E034";
$min-value: "\E035";
$more-then-value: "\E036";
$nav-left-value: "\E037";
$nav-right-value: "\E038";
$pencil-document-value: "\E039";
$pencil-value: "\E03A";
$person-value: "\E03B";
$plus-value: "\E03C";
$search-value: "\E03D";
$splitter-value: "\E03E";
$star-value: "\E03F";
$stars-one-value: "\E040";
$stars-three-value: "\E041";
$stars-two-value: "\E042";
$two-stripes-value: "\E043";
$user-value: "\E044";