<nav class="navbar navbar-default"
     ng-if="config.topBar.visibility">
    <div class="container-header">
        <div class="row">
            <div class="col-md-4">
                <h3 class="title">
                    <img class="logo" ng-src="{{imgUrl}}"/>
                    <span>{{ 'HEADER.TITLE' | translate }}</span>
                </h3>
            </div>

            <div class="app-top-content col-md-8">
                <com-switcher></com-switcher>
                <com-languages
                        config="config"
                        lang="lang">
                </com-languages>
                <a ui-sref="loginTemplate.logout" class="btn btn-default">
                    <i class="glyphicon glyphicon-log-out"></i>
                    {{ 'MODULES.LOGOUT.TITLE' | translate }}
                </a>
            </div>
        </div>
    </div>
</nav>