<!DOCTYPE html>
<html ng-app="app" ng-cloak>
<head>
    <base href="/">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Template">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ 'HEADER.TITLE' | translate }}</title>
    <!-- build:css -->
    <link rel="stylesheet" href="/public/bower_components/angular-toastr/dist/angular-toastr.min.css"/>
    <link rel="stylesheet" href="public/bower_components/offlinejs/themes/offline-theme-chrome.css" />
    <link rel="stylesheet" href="public/bower_components/offlinejs/themes/offline-language-english.css" />
    <link rel="stylesheet" href="/css/app.css"/>
    <!-- endbuild -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="lang lang-{{language}}" ng-class="{ 'client-style' : clientStyleEnable }">

<section data-ng-controller="homesController" data-ng-cloak>
    <div data-ng-hide="showList">
        <img src="/images/loader.gif" alt="loading..." title="loading..."/>
    </div>
    <div class="container" data-ng-show="showList">
        <div class="alert alert-danger" data-ng-show="error">{{error}}</div>
        <div class="alert alert-info" data-ng-show="showEmptyListMessage">
            <p>
                There are no homes available to list at this time.
                <a href="/homes/new">Perhaps you would like enter a new one?</a>
            </p>
        </div>
        <div class="row home-list-item" data-ng-repeat="home in homes">
            <div class="col-sm-4">
                <!--<img data-ng-src="/images/homes/{{home.imageName || 'no-image-large.png'}}"-->
                <!--class="img-responsive img-thumbnail"/>-->
            </div>
            <div class="col-sm-8">
                <address>
                    <div class="h2">{{home.streetAddress}}</div>
                    {{home.city}}, CA {{home.zipCode}}
                </address>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>Price</td>
                        <td>${{home.price|number:0}}</td>
                    </tr>
                    <tr>
                        <td>Bedrooms</td>
                        <td>{{home.bedrooms}}</td>
                    </tr>
                    <tr>
                        <td>Bathrooms</td>
                        <td>{{home.bathrooms}}</td>
                    </tr>
                    <tr>
                        <td>Square Feet</td>
                        <td>{{home.squareFeet|number:0}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="lead">{{home.notes}}</div>
                <button class="btn btn-link" data-ng-click="delete($index)">Delete</button>
                <a data-ng-href="/homes/edit#{{home.id}}/{{home.streetAddress.split(' ').join('-')}}"
                   class="btn btn-default">Edit</a>
            </div>
        </div>
    </div>
</section>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="/public/bower_components/jquery/dist/jquery.js"></script>
<script src="/public/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/public/bower_components/angular/angular.js"></script>
<script src="/public/bower_components/angular-mocks/angular-mocks.js"></script>
<script src="/public/bower_components/lodash/lodash.js"></script>
<script src="/public/bower_components/angular-animate/angular-animate.js"></script>
<script src="/public/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="/public/bower_components/angular-messages/angular-messages.js"></script>
<script src="/public/bower_components/angular-resource/angular-resource.js"></script>
<script src="/public/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/public/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/public/bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="/public/bower_components/angular-translate/angular-translate.js"></script>
<script src="/public/bower_components/angular-translate-loader-url/angular-translate-loader-url.js"></script>
<script src="/public/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="/public/bower_components/angular-rollbar/angular-rollbar.js"></script>
<script src="/public/bower_components/offlinejs/offline.min.js"></script>
<script src="/public/bower_components/offlinejs-simulate-ui/offline-simulate-ui.min.js"></script>
<!-- endbower -->
<!-- endbuild -->
<script src="/public/Math.uuid.js"></script>
<script src="/public/respond.js"></script>

<!-- inject:js -->
<script src="modules/app.module.js"></script>
<script src="modules/core/core.module.js"></script>
<script src="modules/home/home.module.js"></script>
<script src="modules/app.config.js"></script>
<script src="modules/core/config.js"></script>
<script src="modules/core/constants.js"></script>
<script src="modules/core/errors.js"></script>
<script src="modules/core/run.js"></script>

<script src="modules/offline/persistenceStrategies.js"></script>
<script src="modules/offline/persistenceService.js"></script>
<script src="modules/offline/localDbService.js"></script>
<script src="modules/offline/syncController.js"></script>
<script src="modules/offline/syncService.js"></script>
<script src="modules/offline/fakeServerService.js"></script>

<script src="modules/home/home.config.js"></script>
<script src="modules/home/home.js"></script>
<script src="modules/home/home.service.js"></script>
<script src="modules/blocks/logger/logger.js"></script>
<script src="modules/components/app-main/appMain.directive.js"></script>
<script src="modules/components/app-main/appMain.service.js"></script>
<script src="modules/components/app-topbar/appTopbar.directive.js"></script>
<!-- endinject -->

<!--edubase components-->
<!--...-->
</body>
</html>